# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# .NET
bin/
obj/
*.user
*.vs/
*.tmp
*.log

# Visual Studio
.vs/
*.suo
*.user
*.aps
*.pch
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.svclog
*.scc

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity
_TeamCity*

# DotCover
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[E]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HtmlHelp

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to checkin your Azure Web App publish settings, but sensitive information contained in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# TODO: If the tool you use requires repositories.config uncomment the next line
# repositories.config
# TODO: If you make your Build result internal to your team, you can remove the following
packages/
*.nupkg

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Azure Emulator
ecf/
rcf/

# Windows Azure Application Insights config file
ApplicationInsights.config

# Windows Store app package directory
AppPackages/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
*.wmd
*.tmp
*.db

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/**